<style>
    *{
        background-color: white !important;
        color: black;
    }

    h1{
        color: gray;
    }


    h2{
        color: gray;
    }

    span{
        color: black;
    }

    .btn-lg{
        background-color: black !important;
        color: wheatsmoke;
    }
</style>

<h1 class = 'd-flex justify-content-center fixed-top'>Transaction summary</h1>

<div class = 'container'>
    <h2 class = 'd-flex justify-content-center' style = 'margin-top: 300px;'>Account balance: ₹<span><%= @final_balance %></span></h2>
    <%= link_to "Click here to finish transaction", root_path, {style: 'margin-top: 200px;', class: 'btn-lg btn-dark d-flex justify-content-center' } %>
</div>