<h1 class = 'd-flex justify-content-center fixed-top'>Transaction summary</h1>


<h2 class = 'd-flex justify-content-center' style = 'margin-top: 200px;'>Balance: <%= Money.new(@final_balance, "INR").format(symbol_position: :after) %></h2>