<h1 class = 'd-flex justify-content-center fixed-top'>Select an account</h1>

<%= form_with url: options_path, method: :get do |form| %>
    <div class = 'd-flex justify-content-center vertical-center'>
        <div class="row g-3">
            <div class="col-auto">
                <%= form.select :id, options_for_select(@select_accounts), {}, { class: 'form-select form-select-lg mb-3' } %>
            </div>

            <%= form.hidden_field :user_account_id, value: @user_account_id %>

            <div class="col-auto">
                <%= form.submit "Proceed", class: 'btn-lg btn-warning' %>
            </div>
        </div>
    </div>
<% end %>